# Odoo
ODOO_URL=https://gonder.odoo.com
ODOO_DB=gonder
ODOO_USER=tu_usuario@gonder.com
ODOO_PASSWORD=tu_api_key_o_password

# Telegram
TELEGRAM_TOKEN=123456789:ABCdefGHIjklmno...
TELEGRAM_CHAT_ID=-100xxxxxxxxxx

# Flask (solo en dev local)
# FLASK_ENV=development
